<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="--jira-username" value="" />
    <add key="--jira-token" value="" />
    <add key="--jira-url" value="" />
    <add key="--ado-token" value="" />
    <add key="--ado-url" value="" />
    <add key="--ado-project" value="" />
    <add key="--workspace" value="" />
  </appSettings>
</configuration>